Names, team names, etc

In [3]:
##Household Income
import pandas as pd
import numpy as np
filed = pd.read_csv("HouseholdIncome.csv")

In [5]:
dictionary = dict()
for index, row in filed.iterrows():
    neighborhood = row['Neighborhood']
    income = 5000 * float(row['Estimate; Total: - Less than $10,000'])
    income += 10000 * float(row['Estimate; Total: - $10,000 to $14,999'])
    income += 15000 * float(row['Estimate; Total: - $15,000 to $19,999'])
    income += 20000 * float(row['Estimate; Total: - $20,000 to $24,999'])
    income += 25000 * float(row['Estimate; Total: - $25,000 to $29,999'])
    income += 30000 * float(row['Estimate; Total: - $30,000 to $34,999'])
    income += 35000 * float(row['Estimate; Total: - $35,000 to $39,999'])
    income += 40000 * float(row['Estimate; Total: - $40,000 to $44,999'])
    income += 45000 * float(row['Estimate; Total: - $45,000 to $49,999'])
    income += 50000 * float(row['Estimate; Total: - $50,000 to $59,999'])
    income += 60000 * float(row['Estimate; Total: - $60,000 to $74,999'])
    income += 75000 * float(row['Estimate; Total: - $75,000 to $99,999'])
    income += 100000 * float(row['Estimate; Total: - $100,000 to $124,999'])
    income += 125000 * float(row['Estimate; Total: - $125,000 to $149,999'])
    income += 150000 * float(row['Estimate; Total: - $150,000 to $199,999'])
    income += 200000 * float(row['Estimate; Total: - $200,000 or more'])
    income /= float(row['Estimate; Total:'])
    dictionary[neighborhood] = income
data = pd.DataFrame.from_dict(dictionary, orient = 'index', columns = ['Average Income'])
##next line sorts it by largest average income to least
data = data.sort_values(by = 'Average Income', ascending = False)
data.head(5)
##just so you see what this dataframe looks like

                           Average Income
Squirrel Hill North         103771.513353
Strip District               96509.615385
Point Breeze                 96468.830060
Regent Square                86785.714286
Central Business District    78666.158537

In [ ]:
Poverty Status

In [ ]:
Homeless Rate

In [ ]:
merge into big pandas dataframe

In [ ]:
##merged metric: top place of each metric gets score of amount of neighborhoods listed in that metric, second gets that score - 1, etc...

In [ ]:
##graphs and charts time